//* colors
$color-primary: #9b2def;
$color-secondary: #2d9bef;
$color-black: #161a1a;
$color-grey-small: #99999f;
$color-white: white;
//* font size

$heading-1-header: 4.8rem;
$text: 1.6rem;

$heading-2: 3.6rem;
